<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>

		<!--WebAPIのURL-->
		<add key="ApiEndpoint" value="http://localhost:5004/"/>

		<!--WebAPIの認証トークン-->
		<add key="ApiToken" value="6hAlfv16uIBQ7LeDPAOLeehk8G6WgCjH5bftVFmsRatEVOgdzkuslPqeaSlSMhE2"/>

		<!--ログファイルの保存日数-->
		<add key="MaxArchiveDayCount" value="10"/>

	</appSettings>
</configuration>
